@import '../../styles/setup.scss';
@import 'base';

.loaders {
    .loader {
      &.loader-hidden {
        opacity: 0;
      }
  
      &.loader-active {
        opacity: 1;
      }
      padding: 2em;
      animation: none;
      border-radius: 0;
      border: 0;
    }
  }
  
  
.loaders {
    width: 100%;
    .loader-container, .loader {
      box-sizing: border-box;
      display: flex;
      flex: 0 1 auto;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;
      align-items: center;
      justify-content: center; 
    }
  }